@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    max-height: 100vh;
}

.video-container{
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 100%;
    
}
    
video{
        height: 100vh;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        z-index: 10;
       
}&::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.181);
        -o-border-image: fill 0 -o-linear-gradient(rgba(0, 0, 0, 0),#000);
           border-image: fill 0 -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0)),to(#000));
           border-image: fill 0 linear-gradient(rgba(0, 0, 0, 0),#000);
}

nav {
    position: fixed;
    width: 100%;
    z-index: 10000;
    
}

.logo {
    position: fixed;
    padding-top: 15px;
    padding-left: 65px;
    font-size: 24px;
}

.logo img{
    width: 250px;
}
  
nav ul {
    list-style: none;
    background: transparent;
    overflow: hidden;
    color: #f7f6f0;
    padding: 0;
    padding-top: 2px;
    padding-right: 65px;
    text-align: right;
    margin: 0;
    transition:all 0.6s ease-in-out;
    -webkit-transition:all 0.6s ease-in-out;
    -moz-transition:all 0.6s ease-in-out;
    -ms-transition:all 0.6s ease-in-out;
    -o-transition:all 0.6s ease-in-out;
}
  
nav.black ul {
    width: 100%;
    background: #0a0a0a;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}
  
nav ul li a {
    text-decoration: none;
    color: #f7f6f0;
    font-size: 18px;
    font-family: 'Space Mono', monospace;
   
}

.nav-hover{
	display:block;
	position:relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.nav-hover:before{
    content:"";
    width:0;
    height:3px;
    background-color:#FF5252;
    position:absolute;
    top:110%;
    left:0;
    transition:all .5s;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -ms-transition:all .5s;
    -o-transition:all .5s;
}

.nav-hover:after{
	content:"";
	width:0;
	height:3px;
	background-color:#FF5252;
	position:absolute;
	top:110%;
	right:0;
	transition:all .5s;
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	-ms-transition:all .5s;
	-o-transition:all .5s;
}

.nav-hover:hover:before{
	width:50%;
	-webkit-transform:translateX(100%);
	    -ms-transform:translateX(100%);
	        transform:translateX(100%);
}

.nav-hover:hover:after{
	width:50%;
	-webkit-transform:translateX(-100%);
	    -ms-transform:translateX(-100%);
	        transform:translateX(-100%);
}

.nav-hover:hover, .menu .active:hover{
    color: #FF5252;
    font-weight: 600;
    transition: ease-in-out;
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    -o-transition: ease-in-out;
}

.menu .active{
    display:block;
	position:relative;
    text-decoration: none;
    color: #FF5252;
    font-weight: 600;
    
}
.menu .active:before{
    content:"";
    width:100%;
    height:3px;
    background-color:#FF5252;
    position:absolute;
    top:110%;
    left:0;
}

  
/*Menu icon*/
.menu-icon {
    width: auto;
    background: #0a0a0a;
    text-align: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px 30px;
    cursor: pointer;
    color: #f7f6f0;
    display: none;
    font-size: 25px;
}


.intro-section {
    height: 100vh;
    position: relative;
    background: transparent;
    z-index: 100;
    width: 50%;
    
}
  
.intro-section .intro-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    /* width: 100%; */
    height: 100%;
}

.intro-section .intro-content h1 {
    color: #f7f6f0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 42px;
    letter-spacing: 3px;
    line-height: 1.5;
    padding-left: 3em;
}

.intro-section .intro-content span{
    color: #FF5252;
}

.cmn-btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    border:2px solid #FF5252;
    color: #dfdfdf;
    padding: 16px 48px;
    font-size: 14px;
    font-family: 'Space Mono', monospace;
    font-weight: 600;
    letter-spacing: 2px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.cmn-btn:hover, .cmn-btn:focus {
    background-color: #FF5252;
    color: #dfdfdf;
}


/* body*/

*:active, *:focus{
	outline: none;
}

.main-body{
    
    background: #000101;
    max-width: 100%;
}

.scrollAnim{
	height: auto;
	opacity: 0;
	padding: 0 100px;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-ms-transition: all 0.8s;
	-o-transition: all 0.8s;
}

.scrollAnim.anim{
	opacity: 1;
}

.content{
    height: 100%;
    text-align: center;
    padding: 1em;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

.content h1{
	display: block;
	color: #FF5252;
	font-size: 30px;
    letter-spacing: 2px;
	font-weight: bold;
    margin-bottom: .5em;
	line-height: 1.5;
	font-family: 'Space Mono', monospace;
    text-transform: capitalize;
}

.content p{
	width: auto;
	font-size: 15px;
	color: #FFFFFF;
	line-height: 2;
    letter-spacing: 2px;
	font-family: "Poppins", sans-serif;
    padding:0 5em;
}

.scrollAnim img{
    width:  120px;
    height: auto;
    margin: auto;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
}

#section-1{
    padding: 5em 0;
}

.shop-items{
    height: 100%;
    padding-top: 4em;
}

.shop-items-heading{
    font-size: 20px;
    text-align: left;
    display: block;
	color: #FF5252;
	padding: 2em;
    letter-spacing: 2px;
	font-weight: bold;
    margin-bottom: .5em;
	line-height: 1.5;
	font-family: 'Space Mono', monospace;
}

.shop-items-title{
    width: 100%;
    height: 100%;
    padding-bottom: 2em;
}

.shop-items-title ul{
    text-align: left;
    list-style: none;
}

.shop-items-title ul li{
    padding-bottom: 1.5em;
}

.shop-items-title button i{
    width: 20px;
    height: auto;
    font-size: 24px;
    padding-right: 2em;
}

.shop-items-title button {
  margin: 0.75rem;
  padding: 0.25rem;
  cursor: pointer;
  border: none;
  background: none;
  color: #FFFFFF;
  font-size: 20px;
}

.shop-items-title button:hover{
    color: #FF5252;
}

/* Modals */

.modal-box{
    position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11111;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

.modal-box.modal-show {
  animation: zoomIn 0.5s ease-in-out forwards;
  -webkit-animation: zoomIn 0.5s ease-in-out forwards;
}

.modal-box.modal-hide {
  animation: zoomOut 0.5s ease-in-out 0.1s forwards;
  -webkit-animation: zoomOut 0.5s ease-in-out 0.1s forwards;
}

.modal-box-content{
   position: relative;
  background-color: #FFFFFF;
  top: 20px;
  
  padding: 1.5em;
  border-radius: 0.25rem;
  width: 80%;
  height: 75%;
  overflow: auto;
  -webkit-box-shadow: 0 4px 20px rgba(0,0,0,0.4);
          box-shadow: 0 4px 20px rgba(0,0,0,0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-box.modal-show .modal-box-content{
  -webkit-animation: zoomIn 0.3s ease-in-out forwards;
          animation: zoomIn 0.3s ease-in-out forwards;
}

.modal-box.modal-hide .modal-box-content{
  -webkit-animation: zoomOut 0.3s ease-in-out forwards;
          animation: zoomOut 0.3s ease-in-out forwards;
}

.modal-box-content h1 {
    font-size: 22px;
    text-align: center;
    margin-top: 1.3em;
    font-family: 'Space Mono', monospace;
    font-weight: 600;
    padding-bottom: 8px;
    border-bottom: 3px solid #FF5252;
}

.modal-box-content a{
    color: #1B1A19;
}

.modal-box-content-body{
    width: 100%;
    height: 100%;
    padding: 0 4em;
    margin: 1em 0;
    overflow: auto;
    scrollbar-width: 0;
}

.modal-box-content-body ul {
    font-size: 16px;
    line-height: 1.5rem;
    list-style-type: none;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.modal-box-content .note{
    font-size: 11px;
    color: red;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
} 
.available-stock h2{
    position: absolute;
    top: 18px;
    left: 16px;
    font-size: 20px;
    padding: 0 0.75rem;
    color: #FF5252;
}

.modal-close {
  position: absolute;
  top: 6px;
  right: 16px;
  font-size: 34px;
  font-weight: bold;
  padding: 0 0.75rem;
  color: #FF5252;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal-close:hover, .modal-close:focus {
  color: rgba(0,0,0,0.5);
}

/* Animations */

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
}
@keyframes zoomOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
}

.list-marker i{
    
    height: auto;
    font-size: 18px;
    padding-right: 0.5em;
    color: #ff5252;
}

.faq-container {
    width: 100%;
}
  
.container-item{
    padding:10px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
  
.container-item:nth-last-child(2){
    border-bottom: none;
}

.container-item-heading {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 3px;
    padding-top: 3px;
}
  
.container-item-subheading {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s ease-in-out;
    -o-transition: max-height 0.3s ease-in-out;
    transition: max-height 0.3s ease-in-out;
    padding-top: 10px;
}

.container-item-subheading li{
    font-size: 14px;
    font-weight: 400;
}
  
.container-item-subheading.active {
    border-bottom: 1px solid #e0e0e0;
}

.container-item-subheading.active:nth-last-child(1){
    border-bottom: none;
}

.icon-container i {
    font-size: 16px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
}

.icon-container i.active {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

.anim-left{
	-webkit-transform: translate(-150px,0);
	-ms-transform: translate(-150px,0);
	transform: translate(-150px,0);
}

.anim .anim-left{
	-webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	transform: translate(0,0);	
}


/* footer */

.footer {
    width: 100%;
    height: 90%;
    background-color: #FF5252;
    color: #fff;
    position: absolute;
    z-index: 1000;
}

#particles-js {
    width: 100%;
    height: 90%;
    position: absolute;
    z-index: 10;
    /* z-index: -1; */
}

.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
    z-index: 10;
}
.footer-wave-path {
    fill:#000101;
}

.footer-content {
    margin-top: 2em;
    width: 100%;
    padding: 4em;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    z-index: 10;
}

.footer-content-column {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 23%;
    color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link img{
    width: 250px;
}

.footer-logo h1{
    font-size: 16px;
    margin-top: 30px;
    letter-spacing: 1px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: italic;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: 'IBM Plex Sans', sans-serif;
}

.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 20px;
    padding-left: 0;
    font-size: 14px;
    font-family: 'Space Mono', monospace;
}

.footer-menu-list li {
    margin-top: 10px;
}

.footer-menu-list li a:hover{
    color: #f8a29d;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 20px;
    margin-bottom: 2em;
    font-size: 14px;
    font-family: 'Space Mono', monospace;
}

.footer-call-to-action .cmn-btn:hover {
    background-color: #fffff2;
    color: #ef4b42;
}

.footer-call-to-action .cmn-btn {
    background-color: #ef4b42;
    border: 1px solid #fffff2;
    color: #fffff2;
    padding: 8px 40px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.footer-call-to-action {
    padding: 0;
}

.footer-social-icons {
    display:block;
    margin: 0 ;
    padding: 0;
    margin-top: 3em;
}

.footer-social-icons ul {
    padding:0;
    list-style: none;
}

.social-icon {
    color: #fff;
}

.footer-social-icons ul.social-icons {
    margin-top: 10px;
}

.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-facebook-f{
    padding:10px 14px;
    -o-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #ef4b4296;
    border: 1px solid #fffff2;
}

.fa-facebook-f:hover {
    background-color: #4267B2;
}

.fa-x-twitter{
    padding:10px 12px;
    -o-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #ef4b4296;
    border: 1px solid #fffff2;
}

.fa-x-twitter:hover {
    background-color: #1B1A19;
}

.fa-whatsapp {
    padding:10px 14px;
    -o-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #ef4b4296;
    border: 1px solid #fffff2;
}

.fa-whatsapp:hover {
    background-color: #25D366;
}

.fa-linkedin-in {
    padding:10px 14px;
    -o-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #ef4b4296;
    border: 1px solid #fffff2;
}

.fa-linkedin-in:hover {
    background-color: #0073a4;
}

.footer-copyright {
    background-color: #ef4b42;
    color: #fff;
    padding: 15px 30px;
    text-align: center;
   width: 100%;
   position: absolute;
   bottom: 0;
}

.footer-copyright-text {
    color: #fff;
    font-size: 13px;
    letter-spacing: 2px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-text a{
    color: #fff;
    text-decoration: none;
}

.footer-copyright-text a:hover{
    color: #dace27;
}

#myBtn{
    /*display: none;
    */position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 10000;
    border: none;
    color: #fff;
    background: #ff6962;
    padding: 10px;
    border-radius: 10px;
}
 

/* Media Query For different screens */

  
@media (max-width:1281px) { /* hi-res laptops and desktops */
    .intro-section {
        width: 50%;
    }
    
    .intro-section .intro-content h1 {
        
        padding-left: 2.5em;
    }

    .content h1{
        font-size: 28px;
    }
}


@media (max-width:1060px){ /* big landscape tablets, laptops, and desktops */
    .intro-section {
        width: 55%;
    }

    .scrollAnim{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .content p{
        padding: 0;
    }

    .shop-items-heading{
        padding: 2em 1.5em;
    }

    .footer-logo-link img{
        width: 220px;
        padding-bottom: .2em;
    }
}


@media(max-width: 955px) { /* big landscape tablets, laptops, and desktops */
    .logo {
        top: 0;
        padding-top: 10px;
        padding-left: 40px;
    }
    
    .logo img{
        width: 220px;
    }
      
    
    nav ul {
        max-height: 0px;
        background: #000101;
        padding: 0;
    }
    
    nav.black ul {
        background: #000101; 
    }
    
    .showing {
        max-height: 30em;
    }
    
    nav ul li {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        padding: 20px 0px;
        text-align: center;
    }

    nav ul li a {
        color: #FFFFFF;
    }
    
    /* .nav-hover:hover, .active:hover{
        font-weight: normal;
    } */

    .nav-hover:hover:before, .active:before{
        width:0%;
    }
    
    .nav-hover:hover:after{
        width:0%;
    }
    
    .menu-icon {
        display: block;
    }

    .menu-icon i{
        padding-right: 20px;
    }

    .intro-section{
        width: 100%;
        text-align: center;
    }

    .intro-section .intro-content{
        width: 100%;
    }

    .intro-section .intro-content h1 {
        /* padding-top: 7em; */
        padding-left: 1em;
        padding-right:1em ;
        line-height: 1.3;
    }

    .cmn-btn{
        background-color: #FF5252;
    }

    .shop-items-title button:hover{
        color: #FFFFFF;
    }

    .scrollAnim{
        padding: 25px 80px;
    }

    .shop-items-heading{
        padding: 2em 1em;
    }

    .modal-box-content{
       width: 90%;
       height: 75%;
    }

    .modal-box-content-body{
        padding: 0 2em; 
    }

    #materials{
        font-size: 20px;
    }
    
    .modal-box-content .note{
        font-size: 9px;
        
    } 

    .modal-box-content h1 {
        margin-top: 1.5em;
    }

    .available-stock h2{
        font-size: 18px;
    }
    
    .modal-close {
      font-size: 28px;
    }

    /* .container-item{
        padding: 8px 10px;
    } */

    .footer{
        height: auto;
    }

    .footer-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: left;
    }

    .footer-logo-link img{
        width: 280px;
        padding-bottom: 0;
    }

    #particles-js {
        height:95% ;
    }

    .footer-content-column {
        width: 100%;
        margin-bottom: 3em;
    }
    
    .social-icons li {
        margin-right: .5em;
    }

    .fa-facebook-f{
        background-color: #4267B2;;
    }

    .fa-x-twitter{
        background-color: #1B1A19;
    }

    .fa-whatsapp {
        background-color: #25D366;
    }

    .fa-linkedin-in {
        background-color: #0073a4;
    }
  
    .footer-copyright-text a{
        color: #dace27;
    }
    
}

@media (max-width:801px){ /* tablet, landscape iPad, lo-res laptops ands desktops */
    .scrollAnim{
        padding: 25px 60px;
    }

    .modal-box-content h1 {
        margin-top: 1.8em;
    }

    .shop-items-heading{
        padding: 2em 0;
        text-align: center;
    }

    .shop-items-title ul{
        padding-left: 1em;
    }
}

@media (max-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .intro-section .intro-content h1 {
        font-size: 40px;
    }

    .scrollAnim{
        padding: 25px 30px;
    }

    .shop-items-heading{
        padding: 1em 0;
        text-align: center;
    }

    .modal-box-content-body{
         padding: 0 1em; 
    }
 
    .modal-box-content h1 {
         font-size: 20px;
         margin-top: 2em;
    }

    #materials{
        font-size: 17px;
    }
     
    .modal-box-content .note{
         font-size: 8px;
         text-align: center;
    } 

    .available-stock h2{
         font-size: 16px;
    }
     
    /* .container-item-heading{
        font-size: 14px;
    } */
     
    /* .container-item-subheading li{
        font-size: 13px;
    } */

    /* .list-marker i{
        font-size: 16px;
    } */
}

@media (max-width:480px){ /* smartphones, Android phones, landscape iPhone */
    .logo{
        padding-left: 25px;
    }

    .logo img{
        width: 200px;
    }

    .menu-icon{
        padding-right: 12px;
    }

    .intro-section .intro-content h1 {
        font-size: 35px;
    }
    
    .scrollAnim{
        padding: 25px 20px;
    }

    .shop-items-title ul{
        padding-left: 0;
    }

    .shop-items-title ul li{
        padding-bottom: 1.5em;
    }

    .shop-items-title button i{
        width: 14px;
        font-size: 18px;
    }

    .shop-items-title button {
        font-size: 18px;
        text-align: left;
    }

    .materials-sub{
        font-size: 13px;
    }

    .cmn-btn {
        padding: 14px 26px;
        font-size: 14px;
    }

    .modal-box-content-body{
        padding: 0 0.5em; 
    }

    .modal-box-content h1 {
        margin-top: 2.3em;
   }

    .modal-box-content-body ul {
        padding-left: 1.5em;
        font-size: 18px;
    }

    .modal-box-content h1 {
        font-size: 20px;
    }

    #materials{
        font-size: 14px;
        margin-top: 2.5em;
    }
    
    .available-stock h2{
        font-size: 15px;
    }
    
    .container-item-heading{
       font-size: 15px;
    }

    /* .container-item-subheading li{
        font-size: 14px;
    } */

    .footer-content {
        padding: 3em;
    }

    #particles-js {
        height:90% ;
    }

    .footer-logo-link img{
        width: 250px;
    }
  }
  
    

@media (max-width:400px){ /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    
}
                

@media (max-width:355px){ /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .logo img{
        width: 180px;
    }

    .scrollAnim{
        padding: 25px 15px;
    }

    .intro-section .intro-content h1 {
        font-size: 32px;
    }

    .content{
        padding: 0;
    }

    .content h1{
        font-size: 25px;
    }

    .content p{
        font-size: 12px;
    }

    .shop-items-title button i{
        width: 14px;
        font-size: 15px;
    }

    .shop-items-title button {
        font-size: 16px;
    }

    .materials-sub{
        font-size: 10px;
    }

    .cmn-btn {
        padding: 14px 24px;
        font-size: 10px;
    }

    .modal-box-content {
        padding: 1em;
    }

    .modal-box-content-body{
        padding: 0; 
    }

    .modal-box-content-body ul {
        font-size: 16px;
    }

    .modal-box-content h1 {
        font-size: 18px;
    }

    #materials{
        font-size: 11px;
        margin-top: 3.5em;
    }
    
    .modal-box-content .note{
        font-size: 8px;
        text-align: center;
    } 
    
    .available-stock h2{
        font-size: 14px;
        left: 6px;
    }
    
    .modal-close {
      right: 6px;
    }

    .container-item-heading{
       font-size: 12px;
    }

    .container-item-subheading li{
        font-size: 12px;
    }

    .list-marker i{
        font-size: 16px;
    }
   
    .footer-logo-link img{
        width: 220px;
    }
    .social-icons li a i{
        margin-bottom: 1em;
    }
}

    