@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100000000;
    
	.overlayDoor {
		&:before, &:after {
			content: "";
			position: absolute;
			width: 50%;
			height: 100%;
			background: #060606;
			-webkit-transition: .5s cubic-bezier(.77,0,.18,1);
			-o-transition: .5s cubic-bezier(.77,0,.18,1);
			transition: .5s cubic-bezier(.77,0,.18,1);
			-webkit-transition-delay: .8s;
			     -o-transition-delay: .8s;
			        transition-delay: .8s;
		}
		&:before {
			left: 0;
		}
		&:after {
			right: 0;
		}
	}
	&.loaded {
		.overlayDoor {
			&:before {
				left: -50%;
			}
			&:after {
				right: -50%;
			}
		}
		.overlayContent {
			opacity: 0;
			margin-top: -15px;
		}
	}
	.overlayContent {
		position: relative;
		width: 100%;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
		-webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
		-webkit-transition: .5s cubic-bezier(.77,0,.18,1);
		-o-transition: .5s cubic-bezier(.77,0,.18,1);
		transition: .5s cubic-bezier(.77,0,.18,1);
		
	}
}

.skip {
    display: block;
    /* width: 130px; */
    text-align: center;
    margin: 25px auto 0;
    cursor: pointer;
    color: #FF5252;
    font-size: 28px;
    font-family: 'Nunito';
    font-weight: 700;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    
}

.loader {
	width: 100px;
	height: 100px;
	border: 3px solid #fff;
	border-bottom: 3px solid transparent;
	border-radius: 50%;
	position: relative;
	-webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.inner {
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    border-top: 3px solid #FF5252;
    border-radius: 50%;
    animation: spinInner 1s linear infinite ;
    -webkit-animation: spinInner 1s linear infinite;
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
@-webkit-keyframes spinInner {
	0% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-720deg);
		        transform: rotate(-720deg);
	}
}
@keyframes spinInner {
	0% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-720deg);
		        transform: rotate(-720deg);
	}
}

header{
    max-height: 100vh;
}

.video-container{
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100%;
}
    
video{
        height: 100vh;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        
}&::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.181);
        -o-border-image: fill 0 -o-linear-gradient(rgba(0, 0, 0, 0),#000);
           border-image: fill 0 -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0)),to(#000));
           border-image: fill 0 linear-gradient(rgba(0, 0, 0, 0),#000);
    }

nav {
    position: fixed;
    width: 100%;
    z-index: 10000;
    
}

.logo {
    position: fixed;
    padding-top: 15px;
    padding-left: 65px;
    font-size: 24px;
}

.logo img{
    width: 250px;
}
  
nav ul {
    list-style: none;
    background: transparent;
    overflow: hidden;
    color: #f7f6f0;
    padding: 0;
    padding-top: 2px;
    padding-right: 65px;
    text-align: right;
    margin: 0;
    transition:all 0.6s ease-in-out;
    -webkit-transition:all 0.6s ease-in-out;
    -moz-transition:all 0.6s ease-in-out;
    -ms-transition:all 0.6s ease-in-out;
    -o-transition:all 0.6s ease-in-out;
}
  
nav.black ul {
    width: 100%;
    background: #0a0a0a;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}
  
nav ul li a {
    text-decoration: none;
    color: #f7f6f0;
    font-size: 18px;
    font-family: 'Space Mono', monospace;
   
}

.nav-hover{
	display:block;
	position:relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.nav-hover:before{
    content:"";
    width:0;
    height:3px;
    background-color:#FF5252;
    position:absolute;
    top:110%;
    left:0;
    transition:all .5s;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -ms-transition:all .5s;
    -o-transition:all .5s;
}

.nav-hover:after{
	content:"";
	width:0;
	height:3px;
	background-color:#FF5252;
	position:absolute;
	top:110%;
	right:0;
	transition:all .5s;
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	-ms-transition:all .5s;
	-o-transition:all .5s;
}

.nav-hover:hover:before{
	width:50%;
	-webkit-transform:translateX(100%);
	    -ms-transform:translateX(100%);
	        transform:translateX(100%);
}

.nav-hover:hover:after{
	width:50%;
	-webkit-transform:translateX(-100%);
	    -ms-transform:translateX(-100%);
	        transform:translateX(-100%);
}

.nav-hover:hover, .active:hover{
    color: #FF5252;
    font-weight: 600;
    transition: ease-in-out;
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    -o-transition: ease-in-out;
}

.active{
    display:block;
	position:relative;
    text-decoration: none;
    color: #FF5252;
    font-weight: 600;
    
}
.active:before{
    content:"";
    width:100%;
    height:3px;
    background-color:#FF5252;
    position:absolute;
    top:110%;
    left:0;
}


  
/*Menu icon*/
.menu-icon {
    width: auto;
    background: #0a0a0a;
    text-align: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px 30px;
    cursor: pointer;
    color: #f7f6f0;
    display: none;
    font-size: 25px;
}

.intro-section {
    height: 100vh;
    position: relative;
    background: transparent;
    z-index: 1;
    width: 65%;
    /* padding: 0 6em; */
    padding-left: 6em;
}
  
.intro-section .intro-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
}


.intro-section .intro-content h1 {
    /* background: -webkit-linear-gradient(#ff6962, #fad0c4); */
    background: #f7f6f0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: capitalize;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 1.5;
    text-align: center;
    margin-top: 2em;
}

.animate-text {
    height: 2em;
    overflow: hidden;
}
  
.animate-text span{
    font-size: 14px;
    color:#FF5252;
    font-weight: 700;
    line-height: 2em;
    display: none;
    letter-spacing: 1px;
}
  
.animate-text span.text-in{
    display: block;
    -webkit-animation: textIn .5s ease;
    animation: textIn .5s ease;
}

.animate-text span.text-out{
    -webkit-animation: textOut 1s ease;
    animation: textOut 1s ease;
}

@-webkit-keyframes textIn{
    0%{
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100%{
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@keyframes textIn{
    0%{
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100%{
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@-webkit-keyframes textOut{
    0%{
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    100%{
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);

    }
}

@keyframes textOut{
    0%{
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    100%{
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);

    }
}


.cmn-btn {
    text-decoration: none;
    background-color: transparent;
    border:2px solid #FF5252;
    color: #FF5252;
    padding: 10px 70px;
    font-size: 18px;
    font-family: 'Space Mono', monospace;
    font-weight: 600;
    letter-spacing: 2px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.cmn-btn:hover, .cmn-btn:focus {
    background-color: #FF5252;
    color: white;
}
  


/* body*/

*:active, *:focus{
	outline: none;
}

.main-body{
    background: #000101;
    max-width: 100%;
}

.scrollAnim{
	height: 100vh;
	opacity: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0 100px;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-ms-transition: all 0.8s;
	-o-transition: all 0.8s;
}

.scrollAnim .content{
	margin: auto;
}

.anim{
	opacity: 1;
}

.content{
    padding: 0;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

.content h1{
	display: block;
	color: #FFFFFF;
	font-size: 32px;
	font-weight: bold;
    margin-bottom: 1em;
	line-height: 1.2em;
	font-family: 'IBM Plex Sans', sans-serif;
}

.content h2{
	display: block;
	color: #FFFFFF;
	font-size: 28px;
	font-weight: bold;
    font-family: 'IBM Plex Sans', sans-serif;
	padding-bottom: .5em;
}

.content p, .content ul{
	width: auto;
	font-size: 15px;
	color: #FF5252;
	line-height: 2;
    letter-spacing: 2px;
    font-family: "Poppins", sans-serif;
}


.scrollAnim img{
    width:  32%;
    height: auto;
    margin: auto;
}

#section-1 .anim-left{
    text-align: center;
}

#section-1 .content p{
    padding: 0 8em;
}

#section-1 .content p:nth-child(3){
    color: #FFFFFF;
}

strong{
    color: #FF5252;
}

#section-1 .content p, #section-2 .content ul{
    margin-bottom: 3em;
}

#section-2 img{
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
}

#section-2 .content a{
    margin-left: 0.8em;
}

#section-3 img{
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

.section-3-img-2{
    display: none;
}

#mechlergy{
    font-size: 24px;
    font-family: 'Space Mono', monospace;
}

#mechlergy a{
    text-decoration: none;
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

#mechlergy a:hover{
    color: #dace27;
    border-bottom: 2px solid #dace27;
}

#section-4{
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 4em 4em 4em;
    position: relative;
}

#section-4 .content h2{
    color: #FFFFFF;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    letter-spacing: 4px;
    padding-bottom: 8px;
}

#section-4 .content p{
    margin-bottom: 2em;
    padding: 0 1em;
}
  
#section-4 .container{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(415px, 2fr));
    grid-gap: 40px;
    grid-auto-rows: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

#section-4 .container .card{
    background: #d8d6d6;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
  
#section-4 .container .card .content-container{
    padding: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
  
#section-4 .container .card .content-container h2{
    font-size: 18px;
    font-weight: 600;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #26282B;
}
  
#section-4 .container .card .content-container p{
    font-size: 12px;
    font-weight: normal;
    padding: 0 0.8em;
    color: #484646;
    letter-spacing: 0;
    line-height:1.5;
}


@-webkit-keyframes mover {
    0% { 
        -webkit-transform: translateY(0); 
        transform: translateY(0); 
    }
    100% { 
        transform: translateY(20px); 
        -webkit-transform: translateY(20px); 
        -moz-transform: translateY(20px); 
        -ms-transform: translateY(20px); 
        -o-transform: translateY(20px); 
    }
}

@keyframes mover {
    0% { 
        -webkit-transform: translateY(0); 
        transform: translateY(0); 
    }
    100% { 
        transform: translateY(-20px); 
        -webkit-transform: translateY(-20px); 
        -moz-transform: translateY(-20px); 
        -ms-transform: translateY(-20px); 
        -o-transform: translateY(-20px); 
    }
} 

.anim-top{
	-webkit-transform: translate(0,150px);
	-ms-transform: translate(0,150px);
	transform: translate(0,150px);
}

.anim-left{
	-webkit-transform: translate(-150px,0);
	-ms-transform: translate(-150px,0);
	transform: translate(-150px,0);
}

.anim .anim-top{
	-webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	transform: translate(0,0);
}

.anim .anim-left{
	-webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	transform: translate(0,0);	
}

.scroller{
	position: fixed;
	top: 10px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}


@-webkit-keyframes fadeIn {
	from{ 
		opacity:  0; 
	}
	to{
		opacity: 1;
	}
}


@keyframes fadeIn {
	from{ 
		opacity:  0; 
	}
	to{
		opacity: 1;
	}
}


/* footer */

.footer {
    width: 100%;
    height: 90%;
    background-color: #FF5252;
    color: #fff;
    position: absolute;
    z-index: 1000;
}

#particles-js {
    width: 100%;
    height: 90%;
    position: absolute;
    z-index: 10;
}

.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
    z-index: 10;
}

.footer-wave-path {
    fill:#000101;
}

.footer-content {
    margin-top: 2em;
    width: 100%;
    padding: 4em;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    z-index: 10;
}

.footer-content-column {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 23%;
    color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link img{
    width: 250px;
}

.footer-logo h1{
    font-size: 16px;
    margin-top: 30px;
    letter-spacing: 1px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: italic;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: 'IBM Plex Sans', sans-serif;
}

.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 20px;
    padding-left: 0;
    font-size: 14px;
    font-family: 'Space Mono', monospace;
}

.footer-menu-list li {
    margin-top: 10px;
}

.footer-menu-list li a:hover{
    color: #f8a29d;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 20px;
    margin-bottom: 2em;
    font-size: 14px;
    font-family: 'Space Mono', monospace;
}

.footer-call-to-action .cmn-btn:hover {
    background-color: #fffff2;
    color: #ef4b42;
}

.footer-call-to-action .cmn-btn {
    background-color: #ef4b42;
    border: 1px solid #fffff2;
    color: #fffff2;
    padding: 8px 40px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.footer-call-to-action {
    padding: 0;
}

.footer-social-icons {
    display:block;
    margin: 0 ;
    padding: 0;
    margin-top: 3em;
}

.footer-social-icons ul {
    padding:0;
    list-style: none;
}

.social-icon {
    color: #fff;
}

.footer-social-icons ul.social-icons {
    margin-top: 10px;
}

.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-facebook-f{
    padding:10px 14px;
    -o-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #ef4b4296;
    border: 1px solid #fffff2;
}

.fa-facebook-f:hover {
    background-color: #4267B2;
}

.fa-x-twitter{
    padding:10px 12px;
    -o-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #ef4b4296;
    border: 1px solid #fffff2;
}

.fa-x-twitter:hover {
    background-color: #1B1A19;
}

.fa-whatsapp {
    padding:10px 14px;
    -o-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #ef4b4296;
    border: 1px solid #fffff2;
}

.fa-whatsapp:hover {
    background-color: #25D366;
}

.fa-linkedin-in {
    padding:10px 14px;
    -o-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #ef4b4296;
    border: 1px solid #fffff2;
}

.fa-linkedin-in:hover {
    background-color: #0073a4;
}

.footer-copyright {
    background-color: #ef4b42;
    color: #fff;
    padding: 15px 30px;
    text-align: center;
   width: 100%;
   position: absolute;
   bottom: 0;
}

.footer-copyright-text {
    color: #fff;
    font-size: 13px;
    letter-spacing: 2px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-text a{
    color: #fff;
    text-decoration: none;
}

.footer-copyright-text a:hover{
    color: #dace27;
}

#myBtn{
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 10000;
    border: none;
    color: #fff;
    background: #ff6962;
    padding: 10px;
    border-radius: 10px;
}
 

/* Media Query For different screens */

  
@media (max-width:1281px) { /* hi-res laptops and desktops */
    #section-1 .content p{
        padding: 0 6em;
    }
    
    #section-4{
        padding: 2em 4em 4em 4em;
    } 
}


@media (max-width:1060px){ /* big landscape tablets, laptops, and desktops */
    /* .intro-section {
        width: 70%;
    } */

    .scrollAnim{
        height: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0 80px;
    }

    .scrollAnim img{
        width:  50%;
    }

    #section-1{
        height: 100vh;
    }
    
    .section-3-img-1{
        display: none;
    }
    
    .section-3-img-2{
        display: block;
    }

    #section-2 .content, #section-3 .content{
        margin: 0 2em;
    }

    #section-2 img {
        padding: 4em 0;
    }

    .footer-logo-link img{
        width: 220px;
        padding-bottom: .2em;
    }
}


@media(max-width: 955px) { /* big landscape tablets, laptops, and desktops */
    .skip {
        font-size: 25px;   
    }

    .logo {
        top: 0;
        padding-top: 10px;
        padding-left: 40px;
    }
    
    .logo img{
        width: 220px;
    }
      
    nav ul {
        max-height: 0px;
        background: #000101;
        padding: 0;
    }
    
    nav.black ul {
        background: #000101; 
    }
    
    .showing {
        max-height: 30em;
    }
    
    nav ul li {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        padding: 20px 0px;
        text-align: center;
    }

    nav ul li a {
        color: #FFFFFF;
    }

    /* .nav-hover:hover, .active:hover{
        font-weight: normal;
    } */

    .nav-hover:hover:before, .active:before{
        width:0%;
    }
    
    .nav-hover:hover:after{
        width:0%;
    }
    
    .menu-icon {
        display: block;
    }

    .menu-icon i{
        padding-right: 20px;
    }

    .intro-section {
        width: 70%;
        padding-left: 4em;
    }

    /* .intro-section .intro-content h1 {
        font-size: 32px;
    } */

    .animate-text span{
        font-size: 13px;
    }
 
    .cmn-btn {
        background-color: #FF5252;
        color: #FFFFFF;
        font-weight: 500;
        /* padding: 10px 60px;
        font-size: 16px; */
    }

    #section-1 .content p{
        padding: 0 4em;
    }

    .footer{
        height: auto;
    }

    .footer-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: left;
    }

    .footer-logo-link img{
        width: 280px;
        padding-bottom: 0;
    }

    #particles-js {
        height:95% ;
    }

    .footer-content-column {
        width: 100%;
        margin-bottom: 3em;
    }
    
    .social-icons li {
        margin-right: .5em;
    }

    .fa-facebook-f{
        background-color: #4267B2;;
    }

    .fa-x-twitter{
        background-color: #1B1A19;
    }

    .fa-whatsapp {
        background-color: #25D366;
    }

    .fa-linkedin-in {
        background-color: #0073a4;
    }
  
    .footer-copyright-text a{
        color: #dace27;
    }
    
}

@media (max-width:801px){ /* tablet, landscape iPad, lo-res laptops ands desktops */
    .intro-section {
        width: 80%;
        padding-left: 4em;
    }

    .intro-section .intro-content h1 {
        font-size: 32px;
    }

    .animate-text span{
        font-size: 11px;
    }
 
    /* .cmn-btn {
        padding: 10px 50px;
        font-size: 15px;
    } */

    .scrollAnim{
        padding: 25px 70px;
    }

    .content h1{
        font-size: 28px;
    }
    
    .content h2{
        font-size: 24px;
    }

    #section-1 .content p{
        padding: 0;
    }

    #section-1 .content p, #section-2 .content ul{
        margin-bottom: 2em;
    }

    .scrollAnim img{
        width:  65%;
    }

    #section-2 .content, #section-3 .content{
        margin: 0;
    }

    #mechlergy a{
        color: #dace27;
        border-bottom: 2px solid #dace27;
    }

    #section-4 .content p{
        font-size: 12px;
    } 
}

@media (max-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .skip {
        font-size: 18px;   
    }

    .intro-section {
        width: 100%;
        padding-left: 0;
    }

    .intro-section .intro-content h1 {
        padding: 0 1.8em;
    }

    .animate-text{
        height: 3em;
        text-align: center;
    }

    .animate-text span{
        font-size: 12px;
        padding: 0 2em;
    }
 
    /* .cmn-btn {
        padding: 10px 40px;
    } */

    .scrollAnim{
        padding: 25px 40px;
    }

    .scrollAnim img{
        width:  85%;
    }

    #section-1{
        height: 100%;
    }

    #section-1 .content{
        margin: 8em 0;
    }

    .content p, .content ul{
        letter-spacing: 2px;
    } 

    #section-4{
        padding: 1em 2em 4em 2em;
    }

    #section-4 .container{
        padding: 0;
    }

    #section-4 .container .card .content-container p{
        margin: 0;
        padding: 0;
    }
  }

@media (max-width:480px){ /* smartphones, Android phones, landscape iPhone */
    .logo{
        /* padding-top: 2px; */
        padding-left: 25px;
    }

    .logo img{
        width: 200px;
    }

    .menu-icon{
        padding-right: 12px;
    }

    /* .menu-icon {
        padding: 8px 12px;
        font-size: 25px;
    } */

    .intro-section .intro-content h1 {
        font-size: 30px;
        padding: 0 1.2em;
    }

    .animate-text span{
        font-size: 11px;
        padding: 0 1.8em;
    }
 
    .cmn-btn {
        padding: 10px 60px;
    }

    .scrollAnim img{
        width:  95%;
    }

    .content h1{
        font-size: 26px;
    }
    
    .content h2{
        font-size: 24px;
    }

    .content p, .content ul{
        font-size: 13px;
    }

    #mechlergy{
        font-size: 18px;
    }

    #section-4 .container .card .content-container h2{
        font-size: 15px;
    }

    #section-4 .container{
        grid-template-columns: repeat(auto-fill, minmax(210px, 2fr));
    }

    .footer-content {
        padding-left: 3em;
    }

    #particles-js {
        height:90% ;
    }

    .footer-logo-link img{
        width: 250px;
    }
}
  
                  

@media (max-width:355px){ /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    /* .logo{
        padding-top: 0px;
    } */

    .logo img{
        width: 180px;
    }

    /* .menu-icon {
       padding-right: 10px;
    }  */

    .intro-section .intro-content h1 {
        font-size: 27px;
    }

    .animate-text span{
        font-size: 10px;
        padding: 0 2em;
    }
 
    .content h1{
        font-size: 22px;
    }
    
    .content h2{
        font-size: 20px;
    }

    .content p, .content ul{
        font-size: 12px;
    }

    .scrollAnim img{
        width:  100%;
    }
   
    .footer-logo-link img{
        width: 220px;
    }
    .social-icons li a i{
        margin-bottom: 1em;
    }
}

    